body{
  background-color: #F8F6F4;
}

.App {
  text-align: center;
}

.Layout{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh
}

.NavBar {
  display: flex;
  background-color: #212A3E;
  justify-content: space-between;
  &-links{
    display: flex;
    justify-content: flex-end;
    a{
      text-decoration: none;
      align-self: center;
      color: #D3D3D3;
      padding: 0rem 1rem;
    }
  }
  .Logo{
    width: 10rem;
  }
}

.Footer {
  display: flex;
  background-color: #212A3E;
  padding: 0.5rem 0rem;
  color: #D3D3D3;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}

.button-styled {
  margin: 1rem;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-styled 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-styled {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

&:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
}

.VistaNumeros{
  font-size: 2rem;
  font-family:'Courier New', Courier, monospace;
}